:root,
[data-md-color-scheme="default"] {
  /* サイト全体の背景色を薄いグレーに変更 */
  --md-default-bg-color: #f5f5f5 !important;
}
/* コードブロックの背景色を黒、文字色を白に変更 */
/* 変数 --md-code-bg-color だけだとインラインコードにも影響するため、ブロックのみを指定 */
.md-typeset pre > code {
  background-color: #000000;
  color: #ffffff;
}


h1 {
    /* H1 の色を変更する */
    color: #0000FF !important; /* !importantでthemeの標準を上書き */
}

h2 {
    color: #FF0000;
    /* 線の太さ、種類、色を指定 */
    border-bottom: 2px solid #333;
    /* 文字と線の間の余白 */
    padding-bottom: 10px; 
}

/* コンテンツの最大幅制限を解除し、画面を広く使う */
@media screen and (min-width: 60em) {
    /* サイト全体のコンテナの最大幅を解除 */
    .md-grid {
        max-width: none;
        padding-left: 3em;
        padding-right: 3em;
    }

    /* メインコンテンツ領域の最大幅も解除し、左右のパディングを調整 */
    .md-content {
        max-width: none;
        padding-left: 5em;
        padding-right: 5em;
    }
}

/* コードブロックの背景色を黒、文字色を白に変更 */
/* 変数 --md-code-bg-color だけだとインラインコードにも影響するため、ブロックのみを指定 */
.md-typeset pre > code {
  background-color: #000000;
  color: #ffffff;
}

/* 黒背景に合わせてコメント色を明るいグレーに変更 */
.md-typeset pre > code span.c,  /* Comment */
.md-typeset pre > code span.c1, /* Comment.Single */
.md-typeset pre > code span.cm { /* Comment.Multiline */
  color: #999999;
}

/* ヘッダーの背景色を変更 */
.md-header {
  background-color: #3f51b5;
  color: #999999;
}
